
body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    background-color: #8db6e7;
    color: #000000;
    border-left: 60px solid rgb(19, 87, 104);   
    text-align: center;
}
header {
    max-width: 600px;
}
.quadrado {
    width: 2000px;
    height: 60px;
    background-color: #ffffff; 
}

footer {
    border-left: px solid #000000
}
 aside {
    height:1000px;
 }